/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

h1, h2 {
    color: #333;
}

form {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

input, button {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#alerts {
    color: red;
    font-weight: bold;
}

/* Добавляем стиль для карты */
#map {
    height: 400px;
    width: 100%;
    border: 1px solid #ccc; /* Для видимости */
}